<div class="container-fluid vh-100 text-white"
     style="background-image:url('assets/images/wallpaper.png'); background-size:cover; background-position:center center;">
    <div class="row pt-3 ps-1">
        <div class="col-auto d-flex flex-column gap-2">

            <div class="text-center app-icon" data-app="pc">
                <i class="bi bi-pc-display fs-1 text-primary"></i>
                <div>This PC</div>
            </div>

            <div class="text-center app-icon" data-app="explorer">
                <i class="bi bi-folder-fill fs-1 text-warning"></i>
                <div>File Explorer</div>
            </div>

            <div class="text-center app-icon" data-app="recycle">
                <i class="bi bi-trash-fill fs-1"></i>
                <div>Recycle Bin</div>
            </div>

            <div class="text-center app-icon" data-app="browser">
                <i class="bi bi-browser-edge fs-1 text-info"></i>
                <div>Browser</div>
            </div>

        </div>
    </div>
</div>