<div class="position-fixed bottom-0 w-100 bg-dark text-white">
    <div class="d-flex align-items-center justify-content-between px-3">

        <div class="d-flex gap-4 py-2">
            <i class="bi bi-windows fs-4" id="startBtn"></i>
            <i class="bi bi-search fs-4"></i>
            <i class="bi bi-folder fs-4 task-app" data-app="explorer"></i>
            <i class="bi bi-browser-edge fs-4 task-app" data-app="browser"></i>

            <div id="taskbarApps" class="d-flex gap-4"></div>
        </div>

        <div id="clock" class="small"></div>
    </div>
</div>